label{
    display: flex;
    margin-top: 10px;
    margin-bottom: 5px;
}

form{
    height: fit-content;
    width: 80%;
}

input,
textarea {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #f2eaf2;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    /* margin-bottom: 20px; */
}

button{
    width: 100%;
    background-color: purple;
    border-color: #470247;
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin-top: 15px;
}

button:hover{
    background-color: #470247;
    cursor: pointer;
}

.error {
    color: red;
    font-size: 0.8rem;
}