.mainArea {
    width: 70%;
    height: 100%;
    border: solid purple;
    border-width: 0 0 4px 4px;
    min-height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.formHeading{
    color: #470247;
}
